.footer-section {
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: var(--color-grey);

    // 浮動icon
    .icon-wrap {
        position: fixed;
        right: 20px;
        bottom: 130px;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        // 【消失時的動畫】
        transition:
            opacity 0.2s ease-in,
            transform 0.2s ease-in,
            visibility 0.2s;

        &.show {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);

            // 【出現時的動畫】
            transition:
                opacity 0.4s ease-out,
                transform 0.4s ease-out,
                visibility 0.4s;
        }

        .icon {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            box-shadow: 0 0 10px 0 rgba(31, 31, 31, 0.12);
            backdrop-filter: blur(5px);
            width: 50px;
            height: 50px;
            margin-top: 12px;

            &:hover {
                opacity: 0.7;
            }

            svg {
                display: block;
            }
        }

        .logo-icon{
            background: #FFF100;
        }
    }
}