/*  ===== 整站container設定 ===== */
@use './breakpoints' as *;
@use './mixins' as *; 

.container-share {
    position: relative;
    width: auto;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 50px;

    @include media-down(xl){
        padding: 0px 30px;
    }

    @include media-down(sm){
        padding: 0px 20px;
    }
}

/*  ===== 共用padding設定 ===== */
.padding-share {
    padding: 120px 0 ;

    @include media-down(lg) {
        padding: 80px 0 ;
    }

    @include media-down(sm) {
        padding: 50px 0 ;
    }
}

.padding-small-share {
    padding: 100px;

    @include media-down(lg) {
        padding: 60px;
    }

    @include media-down(sm) {
        padding: 40px;
    }
}



.padding-bottom-share {
    padding-bottom: 120px;

    @include media-down(lg) {
        padding-bottom: 80px;
    }

    // @include media-down(sm) {
    //     padding-bottom: 50px;
    // }
}