@use './shared'as *;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*  ===== 整站基本設定 ===== */
body,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin: 0;
    padding: 0;
}

:root {
    --vh: 100vh;
}

body {
    // chrome文字平滑化
    -webkit-font-smoothing: antialiased;

    // 解決觸控螢幕擊放大問題
    touch-action: manipulation;

    // 解決firefox 字體粗度問題
    -moz-osx-font-smoothing: grayscale;
    --admin-bar-height: 0px;

    // 全站列點樣式消除
    ul,
    li,
    ol {
        list-style: none;
        list-style-position: inside;
    }

    ul,
    li,
    ol {
        &.list-style-none {
            list-style-type: none;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
}

// elementor圖片設定
.elementor {
    .img-cover {
        img {
            height: 100%;
        }
    }

    .iframe-cover {
        iframe {
            height: 100%;
        }
    }
}

/*  ===== 媒體設定 ===== */
// 如果 <img> 需要等比縮放外面固定加上此 class , 寬高比例依照不同需求用上層 class 區分另外寫
.img-cover {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all .5s ease;

    img {
        @include poa-center;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// video & iframe 用 , 邏輯同上
.iframe-cover,
.video-cover {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;

    video,
    iframe {
        @include poa-center;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// swiper 分頁樣式
// 全站 Swiper 分頁共用樣式
.swiper {
    // --- 變數必須包在容器級別內 ---
    --swiper-pagination-color: var(--color-main);
    --swiper-pagination-bullet-inactive-color: #EBEDEB;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 15px;

    @include media-down('sm') {
        --swiper-pagination-bullet-horizontal-gap: 10px;
    }

    .swiper-pagination {
        overflow: visible;
        z-index: 10;
    }

    .swiper-pagination-bullet {
        width: 13px;
        height: 13px;
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap) !important; // 強制套用間距
        transition: background 0.3s ease;

        @include media-down('sm') {
            width: 10px;
            height: 10px;
        }
    }

    .swiper-pagination-bullet-active {
        position: relative;
        background: var(--color-main);

        &::after {
            content: '';
            @include poa-center;
            width: 40px; 
            height: 40px;
            border-radius: 50%;
            border: 1px solid var(--color-main);
            box-sizing: border-box;
            pointer-events: none; 

            @include media-down('sm') {
                width: 25px;
                height: 25px;
            }
        }
    }
}