.events-section {
    position: relative;
    scroll-margin-top: 85px;

    .events-swiper {
        margin-top: 50px;
        padding-bottom: 60px;
        width: 100%;

        @include media-down ('sm') {
            margin-top: 20px;
        }
    }

    .events-wrapper {
        width: 100%;
        
    }

    .slide-link {
        @include d-flex(space-between, center);
        border-radius: 50px;
        background: #FAFAFA;
        padding: 50px;
        width: auto;
        min-height: auto;
        gap: 40px;

        @include media-down ('xl') {
            padding: 30px;
        }

        @include media-down ('lg') {
            padding: 20px;
            gap: 20px;
        }

        @include media-down ('sm') {
            flex-direction: column;
            padding: 30px;
        }

        .img-cover {
            aspect-ratio: 570 / 340;
            width: 100%;
            max-width: 570px;
            border-radius: 30px 30px 80px 30px;
            box-shadow: 0 4px 31px 0 rgba(0, 0, 0, 0.10);

            @include media-down (xxl) {
                max-width: 460px;
            }

            @include media-down (xl) {
                max-width: 425px;
            }

            @include media-down ('lg') {
                max-width: 395px;
            }

            @include media-down ('l') {
                max-width: 280px;
            }

            @include media-down ('sm') {
                max-width: 100%;
            }
        }

        .content {
            width: 50%;

            @include media-down (xxl) {
                width: 60%;
            }

            @include media-down (xxl) {
                width: 100%;
            }

            h3 {
                color: var(--color-black);
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    background-image: url(../../assets/images/marks.svg);
                    width: 46px;
                    height: 100%;
                    top: -10px;
                    left: -9%;
                    background-size: contain;
                    background-repeat: no-repeat;

                    @include media-down ('jumbo') {
                        width: 36px;
                        left: -6%;
                    }

                    @include media-down ('xl') {
                        display: none;
                    }
                }
            }

            .info {
                padding: 20px 0 35px 0;

                @include media-down('xxl') {
                    padding: 10px 0 15px 0;
                }

                &-item {
                    @include d-flex(flex-start, flex-start);
                    gap: 20px;
                    padding-left: 20px;
                    border-left: 5px solid var(--color-main);

                    .info-title {
                        color: var(--color-main);
                        font-size: 18px;
                        @include ls(1, 18);
                        font-weight: 700;
                        line-height: 27px;
                        word-break: keep-all;
                    }

                    .info-desc {
                        color: var(--color-black);
                        font-size: 18px;
                    }
                }

                .info-item+.info-item {
                    padding-top: 5px;
                }
            }

            .lists {
                width: 100%;
                @include d-flex(flex-start, flex-start, column);
                gap: 10px;
                height: 165px;
                overflow-y: auto;

                @include media-down ('xxl') {
                    height: 100px;
                }

                @include media-down ('lg') {
                    height: 80px;
                }

                @include media-down ('sm') {
                    height: 145px;
                }

                /* 滾軸整體 */
                &::-webkit-scrollbar {
                    width: 8px;
                    /* 垂直滾軸寬度 */
                }

                /* 滾軸軌道 */
                &::-webkit-scrollbar-track {
                    background: #EFEFEF;
                    border-radius: 4px;
                }

                /* 滾軸滑塊 */
                &::-webkit-scrollbar-thumb {
                    background: var(--color-main);
                    border-radius: 4px;
                }

                /* 滾軸滑塊 hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: var(--color-main);
                }


                &-item {
                    .lists-title {
                        background-color: var(--color-main);
                        border-radius: 50px;
                        color: var(--color-white);
                        display: inline-block;
                        padding: 5px 10px;
                        font-weight: 700;
                        font-size: 14px;
                    }

                    ol,
                    ul {
                        padding-top: 5px;
                        font-size: 14px;
                    }

                    li {
                        color: var(--color-grey);
                        list-style: decimal !important; // 明確指定為十進制數字
                        list-style-position: inside !important;
                    }
                }
            }
        }
    }

    .bg {
        position: absolute;
        top: -8rem;
        left: 5rem;

        @include media-down('jumbo') {
            width: 900px;
        } 

        @include media-down ('lg') {
            left: -3%;
            width: 800px;
        }

        @include media-down ('md') {
            left: -15%;
            top: -5rem;
            width: 400px;
        }
    }
}