.notice-section {
    background: #FAFAFA;
    box-sizing: border-box;

    &-container {
        @include d-flex(flex-start, flex-start);
        padding: 80px 0;
        gap: 50px;

        @include media-down('xxl') {
            gap: 30px;
        }

        @include media-down('sm') {
            flex-direction: column;;
            align-items: center;
            padding: 30px 0;
            gap: 20px;
        }
    }

    .title {
        word-break: keep-all;
        font-size: 20px;
        font-weight: 400;
    }

    .list {
        padding-left: 70px;
        border-left: 5px solid var(--color-main);

        @include media-down('xxl') {
            padding-left: 50px;
        }

        @include media-down('sm') {
            border-left: none;
            border-top: 5px solid var(--color-main);
            padding: 20px 0 0 20px;
        }

        >li {
            list-style: decimal !important;
            list-style-position: outside !important;
            color: var(--color-grey);
            font-size: 14px;
        }
    }
}