.app-header {
    position: fixed;
    z-index: 999;
    width: 100%;
    max-height: 80px;
    transition: all 0.5s ease;

    .app-container {
        position: relative;
        width: auto;
        height: 100%;
        padding: 24px 30px;
        background: var(--color-white);
        // box-shadow: 0 0 31px 0 rgba(23, 115, 56, 0.2);

        @include media-down(sm) {
            padding: 22px 0;
        }
    }

    .app-wrap {
        @include d-flex(space-between, center);

        @include media-down(sm) {
            padding: 0px 20px;
        }
    }

    .app-logo {
        width: 150px;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            @include d-flex(center, center, column);
        }
    }

    .app-container.menu-show .nav-wrap {
        transform: translateX(0);
    }

    .app-nav {
        @include d-flex(center, center);

        .nav-wrap {
            @include d-flex(center, center);
            gap: 40px;

            @include media-down(lg) {
                gap: 0;
            }

            @include media-down(lg) {
                flex-direction: column;
                justify-content: center;
                position: absolute;
                top: 0;
                right: 0;
                // padding-top: 128px;
                width: 100%;
                height: 100vh;
                background-color: #ffffff;
                transform: translateY(-100%);
                transition: transform 0.3s ease;
            }

            .main-item {
                @include media-down(lg) {
                    padding: 12px 0;
                }
            }

            .main-link {
                padding: 28px 0;
                position: relative;
                transition: all 0.3s ease;

                @include media-down(lg) {
                    padding: 12px 0;
                }

                &.active {
                    color: var(--color-main);
                }

                &:hover {
                    color: var(--color-main);
                }
            }
        }

        // 漢堡選單
        .nav-hamburger {
            display: none;

            @include media-down(lg) {
                display: block;
                transition: all 0.5s ease-in-out;
                position: relative;
                width: 30px;
                height: 30px;
                cursor: pointer;
                top: 0rem;

                >span {
                    width: 30px;
                    height: 3px;
                    position: absolute;
                    background: var(--color-black);
                    right: 0;
                    margin: auto;
                    left: 0;
                    border-radius: 50px;
                    transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1.2);
                    top: calc(50% - ((5.5px)) + -1px);
                }

                >span:nth-child(1) {
                    top: calc(50% - ((5.5px)) + -3px);
                }

                >span:nth-child(2) {
                    top: calc(50% - ((5.5px)) + 6px);
                }

                >span:nth-child(3) {
                    top: calc(50% - ((5.5px)) + 15px);
                }
            }

            &.active span:nth-child(1) {
                transform: rotate(45deg);
                top: 15px;
            }

            &.active span:nth-child(2) {
                opacity: 0;
            }

            &.active span:nth-child(3) {
                transform: rotate(-45deg);
                top: 15px;
            }
        }
    }
}